.signup-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0, 0.6);
    background-color: white;
}


.input-wrapper {
    position: relative;
  }
  
  input {
    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
    width: 300px;
    margin: 10px;
    line-height: 6ex;
    text-indent: 10px;
  }
  
  label {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
    font-size:  12px;
  }
/* 
label {
    width: 100%;
}

.signup-form {
    width: 90%;
}

.signup-inputs {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;


}

.buttons > button {
    background-color: transparent;
    border: solid 2px rgba(0,0,0, 0.6);
    color: rgba(0,0,0, 0.6);;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


@media screen and (min-width: 600px) {
    .signup-form {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .signup-form {
        width: 20%;
    }
} */