.feed-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    /* box-shadow: 0px -4px 5px lightgrey; */
    background-color: rgba(255,255,255, 1);
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;

}

.icon-body {
    color: green;
}

.info {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.feed-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.item-count{
    color: rgba(0, 0, 0, 0.65);
}

.date {
    color: #000000;

}

.title{
    color: rgba(0, 0, 0, 0.65);
}

.shop-name{
    color: rgba(0, 0, 0, 0.65);
}
.icon-arrow{
    color: rgba(0, 0, 0, 0.65);
}

.icon-arrow:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .feed-item {
        height: 40px;
    }    
}