.orders-font{
    font-size: x-small;
}

.feed-section-dash {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 2px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 52vh;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

@media screen and (max-width: 500px) {
    .feed-section-dash {
        height: 58vh;
    }
}